@{
    ViewData["Title"] = "Home Page";
}

@* <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
</div> *@
<div class="text-center">
    <h1>________________________________________________________________</h1>
</div>
<div class="text-center">
    <h1 class="display-4">&#128304;    ¡Bienvenido a NowGaming!    &#128640;</h1>
    <p> </p>
    <h4>Adelante, aquí podrás interactuar con otros gamers y divertirte en el camino!</h4>
</div>

<div class="text-center">
    <img src="img/planeta.jpg" alt="planet">
</div>
<p></p>
<div class="text-center">
    <table>
        <tr>
            <th>
                <figure>
                    <blockquote class="blockquote">
                        <p class="mb-0">"Los videojuegos son una forma de arte, y nos dan la oportunidad de experimentar historias de una manera única". </p>

                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Elon Musk in an <cite title="Source Title">Interview</cite>
                    </figcaption>
                </figure>
            </th>
            <th>
                <figure>
                    <blockquote class="blockquote">
                        <p class="mb-0">"La gente piensa que los videojuegos son solo cosas de niños, pero la verdad es que son un medio increíblemente poderoso para expresar ideas y contar historias".</p>

                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Hideo Kojima in an <cite title="Source Title">Interview</cite>
                    </figcaption>
                </figure>
            </th>
            <th>
                <figure>
                    <blockquote class="blockquote">
                        <p class="mb-0">"No eres un verdadero jugador a menos que hayas jugado a un juego de Mario".</p>

                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Michael Phelps in an <cite title="Source Title">Interview</cite>
                    </figcaption>
                </figure>
            </th>
        </tr>
    </table>
</div>
